:root {
  --color-primary: #4c1d95;
  --color-secondary: #6d28d9;
  --border-color: #a78bfa;
  --color-quaternary: #ede9fe;
  --textColor: #1f2937;
  --border-radius: 5px;
  --default-text-color: #000;
  --default-text-color-hover: #fff;
}

body,
html {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background-image: url("../Images/imagem-background-site.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  position: relative;
  padding: 2%;
  z-index: 1;
}

header .container-avatar {
  display: flex;
  flex: 0.4;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container-avatar .avatar-circle {
  width: 130px;
  height: 130px;
  display: flex;
  border-radius: 50%;
  border: 2px solid var(--border-color);
  margin-right: 1rem;
  overflow: hidden;
  position: relative;
}

.container-avatar .avatar-circle .avatar-image {
  width: 100%;
  height: 100%;
  background-color: var(--border-color);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

header .btn-logout {
  display: flex;
  flex: 0.3;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

button.logout {
  width: 150px;
  background-image: linear-gradient(to right, var(--border-color), var(--color-secondary));
  color: white;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-right: 2%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in;
}

.btn-logout button.logout:hover {
  background-image: linear-gradient(to right, var(--color-secondary), var(--border-color));
}

.main-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to right, var(--color-quaternary), #c4b5fd);
}

.main-content .container-books {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.container-books .book {
  width: clamp(150px, 20%, 200px);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  margin: 0.5rem;
  border: 1px solid #4d4a4a;
  box-shadow: 5px 5px 1px 2px rgba(0, 0, 0, 0.15);

  /*
    clamp(valor-mínimo, valor-ideal, valor-máximo)

    valor-mínimo: o menor valor permitido.
    valor-ideal: o valor preferido, geralmente relativo (como % ou vw).
    valor-máximo: o maior valor permitido.
  */
}

.search-books-container {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-books-container .search {
  width: 450px;
  height: 50px;
  border-radius: var(--border-radius);
  background-color: #f3e8ff;
  color: var(--textColor);
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.search-books-container .btn_search {
  max-width: 100%;
  width: 225px;
  height: 47px;
  color: var(--textColor);
  border-radius: 10px;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  margin: 1rem 0;
}

.search-books-container .btn_search:hover {
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  color: var(--default-text-color-hover);
}

.main-content h1 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

/* banner de cookies consent */
.banner-cookies-consent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner-cookies-consent .cookies {
  padding: 2rem;
}

/* media queries */
@media (max-width: 850px) {
  header {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .btn-logout {
    display: flex;
    width: 200px;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }

  .btn-logout button.logout {
    width: 250px;
  }

  .search-books-container .search {
    max-width: 100%;
  }

  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 1.5rem;
  }

  .container-books {
    justify-content: center;
  }

  .container-books .book {
    width: calc(100% / 3);
  }
}

@media (max-width: 480px) {
  .container-books .book {
    width: calc(100% / 2);
  }

  header {
    max-width: 100%;
  }

  .search-books-container {
    width: 100%;
  }
}
